<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div><h1>A1 POST</h1></div>
    <div class="div1">
        <% for(post of posts) { %>
            <a style="text-decoration: none; color: black;" 
            href="http://localhost:3000/posts/<%=post.id%>">
            
                <div class="div2">
                    <h3>@ <%= post.username %></h3>
                    <p><%=post.content%></p>
                    <a href="http://localhost:3000/posts/<%=post.id%>/edit"><button>edit</button></a>
                    <form style="display: inline-block;" method="post" action="/posts/<%=post.id%>?_method=DELETE">
                        <button>Delet</button>
                    </form>
                </div>
            </a>
        
        <% } %>
        <a href="http://localhost:3000/posts/new"><button>creat post</button></a>
    </div>
</body>
</html>